# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# Data files (raw data might be too large for GitHub)
data/raw/
data/processed/
*.csv
*.xlsx
*.db
*.sqlite

# IDE specific files
.idea/
.vscode/
*.swp